

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Inscription | Connexion{% endblock %}</title>
<head>
{% block stylesheets %}

 <link rel="stylesheet" href="{{asset("assets/css/loginFormDes.css")}}">
 
{% endblock %}

</head>

<body>
<img class = "img"src="{{asset("adminAssets/img/tunikoora.png")}}" alt="Logo" height="120" width="120">
<div id="login-box">
  <div class="left">
    <h1>Connexion</h1>
    
<form action="{{path('security_login')}}"method="post">
<div class="form-group">
    <input type="text"  placeholder="E-mail" required name="_username" class="form-control" />
    </div>
   <div class="form-group">
    <input type="password"  placeholder="Mot de passe" required name="_password" class="form-control" />
    </div>
    <div class="form-group">
    <input type="submit" name="signup_submit" value="Connexion" />
    </div>
  </div>
</form>  






{% block javascripts %}

{% endblock %}



</body>



</html>
