{% extends 'admin/NavDash.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
    <div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 20px;">
        <div class="col-lg-8">
            <div >
                <h1>Liste des articles</h1>
                <table class="table table-striped">
                    <tbody>
                    {% for a in articles %}
                        <tr>
                            <td> {{ a.titre }}</td>
                            <td>{{ a.description }}</td>
                            <td ><img src="{{asset('/adminAssets/img/')~ a.image  }}" alt="" style="width: 200px; height: 150px"></td>
                            <td><a class="btn btn-primary" style="margin-top: 50px;" href="{{ path('addArticle')}}">View</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}